# Flask Configuration
FLASK_DEBUG=False
SECRET_KEY=yoursecretkeyhere

# Database Configuration (Postgres)
DB_HOST=db
DB_PORT=5432
DB_NAME=KioskPOS
DB_USER=KioskPOS
DB_PASSWORD=yourdbpasswordhere

# Economics API Configuration
ECO_GRANT_TOKEN=your_eco_grant_token
ECO_SECRET_TOKEN=your_eco_secret_token
ECO_PRODUCT_ID=8000

# Admin Settings
ADMIN_USER_IDS=123,456
ADMIN_PIN=1234

# Logging
LOG_LEVEL=INFO
SCHEDULER_LOG_LEVEL=WARNING
LOG_HTTP_ACCESS=True
