# Flask Configuration
FLASK_DEBUG=False
SECRET_KEY=yoursecretkeyhere

# Database Configuration (Postgres)
DB_HOST=postgres
DB_PORT=5432
DB_NAME=KantinePOS
DB_USER=KantinePOS
DB_PASSWORD=yourdbpasswordhere

# Economics API Configuration
ECO_GRANT_TOKEN=your_eco_grant_token
ECO_SECRET_TOKEN=your_eco_secret_token
ECO_PRODUCT_ID=8000

# Admin Settings
ADMIN_USER_IDS=123,456
ADMIN_PIN=1234
