{% extends "base.html" %}

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% block admin_head %}{% endblock %}
{% endblock %}

{% block content %}
<div class="app-container" style="justify-content: center;">
    <div class="panel" style="{% block panel_style %}flex: 1; width: 100%;{% endblock %}">
        <img class="brand-watermark" src="{{ url_for('static', filename='logo.png') }}" alt="AaSvK Logo">

        <div class="brand-header"
            style="border-bottom: 0.125rem solid var(--border-color); position: relative; z-index: 1;">
            <h1 style="color: var(--brand-color); margin: 0;">{% block admin_title %}{% endblock %}</h1>
        </div>

        {% block admin_content %}{% endblock %}

        {% if self.admin_actions() %}
        <!-- Bottom Action Row -->
        <div class="utility-actions relative z-1">
            {% block admin_actions %}{% endblock %}
        </div>
        {% endif %}

    </div>
</div>

{% block admin_scripts %}{% endblock %}
{% endblock %}