<!DOCTYPE html>
<html lang="da">

<head>
    <meta charset="UTF-8">
    <title>AASvK Greenteam - Public</title>
    <!-- Prevent zoom on mobile to keep app feel -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Refresh application every 5 minutes -->
    <meta http-equiv="refresh" content="300">

    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    
    <!-- Dynamic REM Scaling for 1:1 pixel-wise linear scaling -->
    <script>
        (function () {
            function updateFontSize() {
                var BASE_WIDTH = 1024;
                var BASE_HEIGHT = 820;

                var widthScale = window.innerWidth / BASE_WIDTH;
                var heightScale = window.innerHeight / BASE_HEIGHT;

                var scale = Math.min(widthScale, heightScale);

                document.documentElement.style.fontSize = (scale * 16) + 'px';
            }

            window.addEventListener('resize', updateFontSize);
            updateFontSize();
        })();
    </script>

</head>

<body>
    {% block content %}{% endblock %}
</body>

</html>